<!-- Kyle Chesney, 2018 -->

<!doctype html>

<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
<script src="{{ url_for('static', filename='chem_calcs.js') }}"></script>

<body>
    {% include 'navbar.html' %}
    <h1>C1V1</h1>
        <label for="c1">C1</label>
        <input name="c1" type="number" placeholder="C1" /> ppb

        <label for="v1">V1</label>
        <input name="v1" type="number" placeholder="V1" /> L

        <br/>

        <label for="c2">C2</label>
        <input name="c2" type="number" placeholder="C2" /> ppb

        <label for="v2">V2</label>
        <input name="v2" type="number" placeholder="V2" /> L

        <button onclick="c1v1()">Calculate</button>

    <h1>Volume Conversion</h1>
    <label for="gals">Gallons</label>
    <input name="gals" type="number" placeholder="Gallons" />

    <label for="liters">Liters</label>
    <input name="liters" type="number" placeholder="Liters"/>

    <button onclick="gallonsLiters()">Calculate</button>

    <h1>Turbidity calculation</h1>
    <label for="turb_volume">Volume</label>
    <input name="turb_volume" type="number" /> 
    <select name="volume_units">
        <option value="Liters">L</option>
        <option value="Gallons">Gal</option>
    </select>

    <label for="dust_type">Dust Type</label>
    <select name="dust_type">
        <option value="fine">Fine</option>
        <option value="coarse">Coarse</option>
    </select>

    <label for="end_turbidity">Desired turbidity</label>
    <input name="end_turbidity" type="number"/>

    <button onclick="turbidityCalc()">Calculate</button>

    <div id="result">
        <br/>
    </div>
</body>
