<!-- Kyle Chesney, 2018 -->

<!doctype html>

<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}" />

<body>
    {% include 'navbar.html' %}
    <h1>Homepage</h1>

    <div>
        <form method="post">
            <button type="submit" name="destination" value="enter_new_study">Enter New Study</button>
            <button type="submit" name="destination" value="observation_entry">Make an entry for</button>
            <select name="study">
                <option value="none">None</option>
                {% for study in studies %}
                <option value="{{study.0}}">{{study.0}}</option>
                {% endfor %}
            </select>
            <button type="submit" name="destination" value="calculations">Calculations</button>
            <button type="submit" name="destination" value="calculations_page.compute_sampling_schedule">Compute Sampling Schedule</button>
        </form>
    </div>
</body>
