<!-- Kyle Chesney, 2018 -->

<!doctype html>

<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}" />

<body>
    <h1>Homepage</h1>

    <div>
        <form method="post">
            <button type="submit" name="destination" value="enter_new_study">Enter New Study</button>
            <button type="submit" name="destination" value="make_entry">Make an entry</button>
            <button type="submit" name="destination" value="calculations">Calculations</button>
        </form>
    </div>
</body>
