<!-- Kyle Chesney, 2018 -->

<!doctype html>
<title>Login</title>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">

<body>
  <div class="login">
      <h1>Login</h1>
      <form type="submit" method="post">
		  <input name="username" type="text" placeholder="Username"/></input>
          <br/>
          <input name="password" type="password" placeholder="Password"/></input>
          <br/>
          <button type="submit" value="login"/>Sign in</button>
      </form>
  </div>

</body>
