<!-- Kyle Chesney, 2018 -->

<!doctype html>

<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">

<body>
    <form type="submit" method="post">
        <label for="study">Study</label>
        <input name="study" type="text"/><br/>

        {% for parameter in parameters %}
          <label for="{{parameter.0}}">{{ parameter.0 }}</label> 
          <input name="{{ parameter.0 }}" type="text"/> {{parameter.1}} <br/>
        {% endfor %}

          <label for="notes">Notes</label>
          <input name="notes" type="text"/><br/>

        <input type="Submit" value="entry"/>
    </form>
</body>
