<!-- Kyle Chesney, 2018 -->

<!doctype html>

<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">

<body>
    <form type="submit" method="post">
        <!-- TODO: jinja2 this -->
        {% for parameter in parameters %}
          <label for="{{parameter}}">{{ parameter }}</label> 
          <input name="{{ parameter }}" type="text"/> <br/>
        {% endfor %}
        <!-- end jinja2 -->

        <input type="Submit" value="entry"/>
    </form>
</body>
