<!-- Kyle Chesney, 2018 -->

<!doctype html>

<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">

<body>
    {% include 'navbar.html' %}
    <form type="submit" method="post">
        <!-- TODO: update for method entry -->
        <!-- link to new study at end of list? -->
        <label for='study_name'>Project:</label>
        <br/> <h3>{{ study_name }}</h3>

        {% for parameter in parameters %}
          <label for="{{parameter.0}}">{{ parameter.0 }}</label> 
          <input name="{{ parameter.0 }}" type="number" step="any"/> {{parameter.1}} [{{parameter.2}} - {{parameter.3}}]<br/>
        {% endfor %}

          <label for="notes">Notes</label>
          <input name="notes" type="text"/><br/>

        <input type="Submit" value="entry"/>
    </form>
</body>
