<style>
 .navbar ul {
     list-style-type: none;
     margin: 0;
     padding: 0;
     overflow: hidden;
     background-color: var(--color-s2-0);
 }
 .navbar li { float: left; }
 .navbar li a {
     display: block;
     color: var(--color-c4);
     text-align: center;
     padding: 0.5em 1em;
     text-decoration: none;
 }
.navbar li a:hover { background-color: var(--color-s1-0);}

</style>


<div class="navbar">
    <ul>
        <li><a href="home">Home</a></li>
        <li><a href="calculations">Calculations</a></li>
        <li><a href="compute_sampling_schedule">Sampling Schedule</a></li>
    </ul>
</div>
